<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <!-- Add Fragment: css -->
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <!-- Add Fragment: js -->
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Gudang</title>
  </head>
  <body>
    <!-- Add Fragment: nav -->
    <nav th:insert="~{fragments/navbar :: navbar}"></nav>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-md-12 m-5 text-center">
        <h1>Daftar Gudang</h1>
      </div>
      <div class="col-md-10">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr class="table-dark">
              <th scope="col">#</th>
              <th scope="col">Nama</th>
              <th scope="col">Alamat Gudang</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="gudang: ${gudangs}">
              <td th:text="${gudang.id}"></td>
              <td th:text="${gudang.nama}"></td>
              <td th:text="${gudang.alamatGudang}"></td>
              <td class="d-flex justify-content-center">
                <a type="button" class="btn btn-md btn-primary" href="/"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
