<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      th:fragment="navbar"
      class="navbar navbar-expand-lg navbar-dark bg-primary"
    >
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">SILOGISTIK</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="navbarScrollingDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gudang
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarScrollingDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/gudang">Lihat Semua Gudang</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/gudang/cari-barang"
                    >Filter Gudang</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/barang">Barang</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/permintaan-pengiriman"
                >Permintaan Pengiriman</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" aria-disabled="true"
                >Bonus</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
